<div>
  <h2 data-test="employees-header">Employees Page</h2>
</div>

<mat-sidenav-container>
  <mat-sidenav-content>
    <ag-grid-angular
      data-test="employeesListGrid"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData$ | async"
      [rowSelection]="'multiple'"
      [animateRows]="true"
      (gridReady)="onGridReady($event)"
      (cellClicked)="onCellClicked($event)"
    ></ag-grid-angular>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="button-row">
  <button
    data-test="new-employee-button"
    mat-raised-button
    color="primary"
    (click)="onAddNew()"
  >
    Add New
  </button>
</div>
