<div class="projects-list">
  <h3>Projects List</h3>
  <ag-grid-angular
    data-test="projects-grid"
    style="width: 80%; height: 520px"
    class="ag-theme-quartz"
    [rowData]="projectsList$ | async"
    [columnDefs]="columnDefs"
    [statusBar]="statusBar"
    [rowSelection]="rowSelection"
    (gridReady)="onGridReady($event)"
    (selectionChanged)="onSelectedProject($event)"
  ></ag-grid-angular>
  <div class="project-actions">
    <button
      data-test="add-project-button"
      mat-flat-button
      (click)="onAddProject()"
    >
      Add New
    </button>
    <button
      data-test="test-button"
      mat-flat-button
      (click)="onTestButtonClick()"
    >
      Test Button
    </button>
  </div>
</div>
